button {
    border: none;
    background-color: rgb(217, 214, 231);
    font-size: 24px;
    color: rgb(8, 8, 8);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(114, 109, 151);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(153, 66, 187);
  }
  
  .equals:hover {
    background-color: rgb(93, 13, 122);
  }